body {
  margin: 0;
  max-width: 100%;
  background-color: rgb(240, 238, 235);
  font-family: Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 1em;
}

li {
  list-style-type: none
}